BankWindowsWPF/Connected Services/ServiceReferenceToDataBaseBank2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankWindow" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankWindow" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance1" type="xs:double" />
      <xs:element minOccurs="0" name="City1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NrAccount1" type="xs:int" />
      <xs:element minOccurs="0" name="NrHouse1" type="xs:int" />
      <xs:element minOccurs="0" name="PostCode1" type="xs:int" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount1" type="xs:int" />
      <xs:element minOccurs="0" name="DateTransaction1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NrAccount1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
</xs:schema>